.center-search-bar {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.search-bar {
  width: 45vw;
}

.image-container {
  opacity: 0.6;
}

.flipping-cards {
  display: flex;
  flex-direction: row;
}
