.center-search-bar {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.top-search-bar {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
.search-bar {
  width: 45vw;
}

.image-container {
  opacity: 0.6;
  position: relative;
}

.flipping-cards {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 85%;
  left: 10%;
}

.card1{
  position: absolute;
  top: 20%;
  left: 20%;
}

.card2{
  position: absolute;
  top: 20%;
  left: 60%;
}

.card3{
  position: absolute;
  top: 70%;
  left: 20%;
}

.card4{
  position: absolute;
  top: 70%;
  left: 60%;
}
.footer{
  position: absolute;
  top: 110%;
}

.bkg{
  background-image: url(./Events.jpg);
}